<div id="friends" class="container-fluid">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Place of knowing</th>
      </tr>
    </thead>
    <tbody>
      <% @friends.each do |friend| %>
        <tr>
          <td> <%= friend.name %> </td>
          <td> <%= friend.surname %> </td>
          <td> <%= friend.place_of_knowing %> </td>
          <td> <%= link_to "Show this friend", friend, class: "btn btn-primary" %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>



